<section class="section section-heading">
    <div class="container">
        <div class="content">
            <h5>#<%= __('common.categories') %></h5>
        </div>
    </div>
</section>
<section class="section">
    <div class="container">
        <div class="columns is-variable is-1 is-multiline is-mobile">
            <% (page._categories || page.categories).forEach(category => {%>
            <span class="column is-narrow">
                <a class="tag is-light article-tag"
                    href="#<%= category.name %>"><%= category.name %>&nbsp;(<%= category.posts.length%>)</a>
            </span>
            <% }) %>
        </div>
        <br>

        <% (page._categories || page.categories).forEach(category => { %>
        <div class="archive content">
            <h4 class="title is-4" id="<%= category %>">
                <a id="<%= category.name %>" style="color: black;" href="<%= url_for(category.path) %>">
                    <i class="far fa-folder"></i> <%= category.name %>
                </a>
            </h4>
            <div class="articles">
                <% category.posts.sort('date', -1).forEach(post => { %>
                <div class="article content">
                    <time class="is-text-small monospace mr1" datetime="<%= date_xml(post.date) %>"
                        itemprop="datePublished">
                        <%= format_date(post.date) %></time>
                    <h6 class="title is-6"><a
                            href="<%= url_for(post.link ? post.link : post.path) %>"><%= post.title %></a></h6>
                </div>
                <% }) %>
            </div>
        </div>
        <% }) %>
    </div>
    </div>
</section>